<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path do %>
        <h1 class="text-gray-700 text-2xl font-bold">Event Management</h1>
      <% end %>
    </div>

    <div class="w-auto pb-0 ml-4 flex justify-end items-center" data-toggle-target="toggleable">
      <% if user_signed_in? %>
        <div class="inline-flex z-20 items-center leading-none text-gray-700 no-underline align-middle rounded hover:text-gray-800 hover:bg-white">
          <div class="relative">
            <div id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownDotsHorizontal" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-full hover:bg-gray-100 focus:outline-none" type="button">
              <div class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <svg class="absolute w-10 h-10 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
              </div>
            </div>

            <!-- Dropdown menu -->
            <div id="dropdownDotsHorizontal" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-28">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
                <li>
                  <%= link_to t("shared.navbar.profile"), edit_user_registration_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                </li>
                <li>
                  <%= button_to t("shared.navbar.sign_out"), destroy_user_session_path, method: :delete, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to t("shared.navbar.log_in"), new_user_session_path, class: 'nav-link' %>
        <%= link_to t("shared.navbar.sign_up"), new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </nav>
</header>
